<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha256.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script type="text/javascript" charset="UTF-8">

        var page = {

            init: function () {
                $("#upload").click($.proxy(this.upload, this));
            },

            upload: function () {
                var file = $("#file")[0].files[0],  //文件对象
                    size = file.size,        //总大小
                    fileName = file.name,   //文件名
                    succeed = 0;        //上传成功分片数

                //每次分片的文件大小  以2MB为一个分片
                var shardSize = 2 * 1024 * 1024;
                var chunkCount = Math.ceil(size / shardSize);  //总片数

                var reader = new FileReader();
                reader.readAsArrayBuffer(file);
                reader.onload=function (ev) {
                    //将读取结果：文件数据类型：ArrayBuffer 转化 为wordArray格式
                    var wordArray = CryptoJS.lib.WordArray.create(reader.result);
                    //直接调用SHA256()并转化得到十六进制字符串（也就是我们要的SHA256）
                    var fileHash = CryptoJS.SHA256(wordArray).toString();

                    //批次号要每次都唯一，这里方便测试写固定了
                    var batchNo = "2020-05-08-1";
                    for (var i = 0; i < chunkCount; ++i) {
                        //计算每一片的起始与结束位置
                        var start = i * shardSize;
                        var end = Math.min(size, start + shardSize);
                        //构造一个表单，FormData是HTML5新增的
                        var form = new FormData();
                        form.append("file", file.slice(start, end));  //slice方法用于切出文件的一部分
                        // form.append("archiveCatalog", 66);
                        form.append("archiveType", 155);
                        form.append("chunkCount", chunkCount);  //总片数
                        form.append("batchNo", batchNo);          //批次编号
                        form.append("fileName", fileName);  //文件名
                        form.append("chunkNo", i);        //分片序号  当前是第几片

                        $.ajax({
                            // url: "http://52.83.103.252:8086/dedms-application/rest/edms/archive/v1/uploadToMongo",
                            url: "http://127.0.0.1:8080/rest/rs/v1/files/big/" + fileHash + "/"+ i,
                            type: "POST",
                            data: form,
                            async: false,        //异步
                            processData: false,  //很重要，告诉jquery不要对form进行处理
                            contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                            success: function () {
                                ++ succeed;
                                $("#output").text(succeed + " / " + chunkCount);
                                if (succeed === chunkCount) {
                                    merge(fileHash, chunkCount, fileName);
                                }
                            }
                        });
                    }
                }

            }
        };
        $(function () {
            page.init();
        });

        function merge(fileHash, chunkCount, fileName) {
            //构造一个表单，FormData是HTML5新增的
            var form = new FormData();
            form.append("totalNumberOfChunks", chunkCount);  //总片数
            form.append("fileName", fileName);  //文件名
            $.ajax({
                url: "http://127.0.0.1:8080/rest/rs/v1/files/big/" + fileHash + "?fileName=" + fileName + "&totalNumberOfChunks=" + chunkCount,
                type: "POST",
                data: null,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function () {
                    $("#output").text("合并成功");
                }
            });
        }

    </script>
</head>
<body>
<input type="file" id="file"/>
<button id="upload">上传</button>
<span id="output" style="font-size:12px">等待</span>
</body>
</html>
